*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.tagline{
    background-color: black;
    padding-top: 1%;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    margin: auto;
}
.first {
   float:none;
   width: 70%;
   display: inline;
   position: relative;
   color: white;
   margin-left: auto;
   background-color:white;
   width: 300px;
   height: 300px;
}
.tagline-ul-div-2 {
    float: right;
   width: 20%;
   display: inline;
   margin-top: -15px;

}
.tagline-ul li {
    display: inline;
    padding-right: 30px;
    justify-content: space-evenly;
    
}
.tagline-ul li a {
    display: inline;
    padding-left: 10px;
    color: white;
    text-decoration: none;
}
.header {
    background-image: url(../image/pic3.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.nav {
    position:relative;
    background-color: rgba(51, 52, 53, 0.466);
    height:60px;
    padding-top: 25px;
    box-shadow: 0 0 8px rgb(0, 0, 2);
    text-align: center;
}
.nav:hover {
    background-color: rgba(31, 73, 114, 0.466) ;
    transition-duration: 1s;
}
.nav-li li {
    display: inline;

    
}
.nav-li li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding-right: 50px;
    color: white;
}
.nav-li li a:hover {
    transition-duration: 1.1s;
    font-size: 24.8px;
    color: rgba(0, 0, 0, 0.923);

}
.hey {
    margin: auto;
    width: 50%;
    font-size: 30px;
    border: 0px solid white;
    margin-top: 15%;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.267);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(2, 2, 2, 0.993);
    border-radius: 15px;
    padding: 20px;
}
.hey:hover {
    background-color: rgba(31, 73, 114, 0.466) ;
    transition-duration: 1s;
}
.smaller-box button {
    margin: 10px;
    padding: 10px 35px 10px 35px;
    border-radius: 30px;
    background-color: black;
    border-style: none;
    
}
.smaller-box button a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.smaller-box button:hover {
    background-color: rgba(19, 16, 16, 0.603);
    transition-duration: 1s;
}
.section-2 {
    height: 900px;
    background-color: rgb(255, 255, 255);
}
.container-box {
    display: flex;
    position: relative;
    bottom: rem;
    justify-content: space-evenly;

}
.three-boxes{
    background-color: rgb(0, 0, 0);
    width: 650px;
    height:600px;
    position: relative;
    /* display: flex; */
    margin: 20px;
    margin-bottom: 60px;
    border-radius: 5px;
    box-shadow: 0 0  10px rgb(71, 114, 194);
}
.three-boxes:hover { 
    
}
.section-2 {
    background-color: rgba(189, 189, 189, 0.818);
    padding-top: 35px;
    height: fit-content;
    box-shadow: 0px 10px 10px 0px rgb(32, 142, 194);
}
.section-2 h2 {
    text-align: center;
    margin: 20px;
    font-size: 40px;
    font-family:fantasy;
    text-transform:capitalize;
    font-weight: bold;
    color: rgba(38, 38, 38, 0.999);
}
.section-2-b {
    background-image: url(/image/IMG_E0131.JPG);
    background-color: white;
    background-size: cover;
    background-position: center;
    width: 98%;
    height: 1000px;
    margin: auto;

}
.three-boxes-images img {
    background-size:auto;
    width: 100%;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.three-boxes-text { 
   height: 50%;
   padding: 5%;
   padding-bottom: 15px;
   color: white;

}
.three-boxes-text h3 {
    width: fit-content;
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(243, 243, 243);
    border-radius: 3px;
    /* width: 60%; */
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -30px;
    /* box-shadow: 1px 1px 10px 10px rgb(255, 255, 255); */
}
.three-boxes-text ul {
    list-style-type:none;
    padding: 15px;
    font-size: 23px;
    color: rgb(189, 189, 189);
}
.get-started {
    padding: 1px;
    width: 70%;
    margin: auto;
    background-color: rgb(144, 144, 144);
    border-radius: 100px;
    margin-top: 30px;
    display: flex;
    border: 3px solid rgb(255, 255, 255); 
}
.gets {
    display: flex;
    color: black;
    padding: 8px;
    width: 28px;
    height: 28px;
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    border: 2px solid rgb(78, 78, 78);
}
.gets-text {
    text-align: center;
    margin: auto;
    margin-left: 3px;
    font-size: larger;
    color: rgb(6, 34, 73);
    font-weight: bold;
}
.icon-roll {
    margin: auto;
    color: black;
    font-size: 25px;
    padding-right: px;
}
.icon-roll i {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.footer-section {
	padding: 40px 0px;
	background: #2e3e4e;
}
/* --------------------SECTION TWO ENDS HERE-------------------- */


/* --------------------SECTION THREE STARTS HERE--------------- */
.section-break {
    margin-top: 3px;
    margin-bottom: 4px;
    width: auto;
    background-color: rgba(189, 189, 189, 0.818);
    color: #2e3e4e;
    box-shadow: 0px 10px 10px 0px rgb(32, 142, 194);
}
.section-three {
    width: auto;
    height: 600px;
    background-color: rgba(189, 189, 189, 0.575);;
}

.about_me {
   
    width: 100%;
    height: fit-content;
    background: linear-gradient(100deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
    display: flex;
    
}
.about_boxes_1 {
    color: rgb(133, 133, 133);
    padding: 60px;
    width: 50%;
    font-family: sans-serif;
    font-size: 1.5em;
    align-items: center;
    text-align: center;
}
.about_boxes_2 {
    color: rgb(133, 133, 133);
    padding: 60px;
    width: 45%;
    font-family: sans-serif;
    font-size: 1.5em;
    margin: auto;
}
.about_boxes_2 img {
    width: 600px;
    height: 350px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px ;
    margin: auto;
    box-shadow: 0 0 10px white;
}
.about_p {
    color: black;
    padding-top: 15px;
    position: relative;
    text-align: center;
    align-self: center;
    padding-right:20px ;

}
.about_span {
    font-weight: bold;
    color: crimson;
}
.cv {
    width: 330px;
    margin: auto;
    margin-top: 150px;
    height: 50px;
    background-color: black;
    border: 2px solid crimson;
    border-radius: 100px;
}
.about_button_1 {
    color: white;
    font-weight: bold;
    padding-top: 10px;
}


















.gets:hover {
    color: black;
    padding: 8px;
    padding-left: 130px;
    width: 28px;
    height: 28px;
    background-color: rgba(252, 252, 252, 0.879);
    border-radius: 35px;
    border: 2px solid rgb(58, 58, 58);
    transition-duration: 1.5s;
}
/* section four */
.test{
    background-color: rgb(130, 130, 130);
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
}
.tests {
    padding-top: 80px;
    padding-bottom: 150px;
}
.tests img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 12px black;
}
.ttext{
    justify-content: space-evenly;
    text-align: center;
    color: white;
    font-weight: bold;
}
.cho{
    background-color: rgb(130, 130, 130);
    text-align: center;
    padding: 50px;
}
.cho h1{
    font-weight: bold;
    color: white;
    font-size: 53px;
}
.footer{
    background-color: black;
    color: white;
    padding: 150px;
}